*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/BG4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 7px;
}

ul li >a{
    padding: 7px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul li>a:hover{
    text-decoration: underline;
    color: rgb(227, 212, 0);
    scale: 1.1;
}

h1{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 4px;
}

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content min-content min-content;
    gap: 3px 3px;
    grid-template-areas: 
    "inicio__subtitulo inicio__parrafo ..."
    "... ... inicio__img1"
    "inicio__img2 inicio__img2 inicio__img1"
    "... ... ..."
    "... ... inicio__boton"
    ;
}

.inicio .inicio__subtitulo{
    grid-area: inicio__subtitulo;
    text-align: center;
    color: white;
}

.inicio .inicio__parrafo{
    grid-area: inicio__parrafo;
    text-align: center;
    color: white;
}

.inicio .inicio__img1{
    grid-area: inicio__img1;

}

.inicio__img1 img{
border: solid 3px rgb(171, 171, 5);
opacity: .9;
width: 350px;
}
.inicio__img1 img:hover{
    opacity: 1;
    border: solid 3px rgb(209, 209, 0);
    scale: 1.1;
}

.inicio .inicio__img2{
    grid-area: inicio__img2;
}

.inicio__img2 img{
    border: solid 3px rgb(209, 209, 0);
    width: 500px;
    opacity: .9;
    text-align: center;
    justify-items: center;
    margin: 10px;
}
.inicio__img2 img:hover{
    opacity: 1;
    border: solid 3px rgb(209, 209, 0);
    scale: 1.1;
}

.inicio .inicio__boton{
    grid-area: inicio__boton;
    text-align: end;
    margin: 8px;
}
.inicio .inicio__boton button{
    border: solid 2px rgb(205, 202, 184);
    background-color: rgb(53, 53, 53);
}
.inicio .inicio__boton button:hover{
    cursor: pointer;
    height: 25px;
    background: rgb(31, 83, 24);
    scale: 1.1;
    color: white;
    border: solid rgb(255, 226, 37) 1px;
    border-radius: 5px;
}


/* Footer */
footer{
    border: solid 3px rgb(205, 202, 184);
    background-color: rgb(53, 53, 53);
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-top: 50px;
    }
    footer h2{
        display: flex;
        color: white;
        justify-content: center;
    }


/* Horarios */
.horarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 3px 3px;
    grid-template-areas: 
    "horarios__subtitulo ... "
    "...  horarios__imghorario"
    "...  horarios__imghorario"
    "horarios__subtitulo2 ..."
    "... horarios__imgHH"
    "... horarios__imgHH"
    "horarios__subtitulo3 ... "
    "... horarios__video"
    ;
}

.horarios .horarios__subtitulo{
    grid-area: horarios__subtitulo;
    text-align: center;
    color: white;
    transition:all 2s ease;
    font-size: 30px;

}


.horarios .horarios__subtitulo:hover{
    color: rgb(255, 226, 37);
}

.horarios .horarios__imghorario{
    grid-area: horarios__imghorario;
}
.horarios .horarios__imghorario img{
    width: 450px;
    height: 700px;
    border: solid 3px rgb(255, 226, 37);
    transition:all 2s ease;
    place-items: center;
}
.horarios .horarios__imghorario img:hover{
    height: 900px;
    width: 600px;
}

.horarios .horarios__subtitulo2{
    grid-area: horarios__subtitulo2;
    color: white;
    text-align: center;
    transition:all 2s ease;
    font-size: 30px;
}
.horarios .horarios__subtitulo2:hover{
    color: rgb(255, 226, 37);
    font-size: 50px;
}

.horarios .horarios__imgHH{
    grid-area: horarios__imgHH;
}
.horarios .horarios__imgHH img{
    width: 450px;
    height: 700px;
    transition: all 2s ease;
    border: solid 3px rgb(255, 226, 37);
}
.horarios .horarios__imgHH img:hover{
    width: 250px;
    height: 450px;
}

.horarios .horarios__subtitulo3{
    grid-area: horarios__subtitulo3;
    color: white;
    font-size: 30px;
    transition: all 2s ease;
}

.horarios .horarios__subtitulo3:hover{
    transform: rotate(25deg);
}

.horarios .horarios__video{
    grid-area: horarios__video;
}